streamlit
google-generativeai
python-dotenv
pandas
matplotlib
plotly
SpeechRecognition
pyttsx3
streamlit
streamlit-webrtc
speechrecognition
pyaudio
google-generativeai
python-dotenv
pyttsx3
numpy
pandas
scipy
plotly
av
